data/*
data_processing/.ipynb_checkpoints/*
models/*
outputs/
data_collection/*.csv
*.csv
*.ods
real_data_results/
deccard/*
Vuld_SySe/visuals/Vulnerable*/*.txt
real_data_scripts/for-bert/
Vuld_SySe/representation_learning/*.tsv
Vuld_SySe/representation_learning/visuals/
real_data_scripts/results/*
real_data_scripts/Devign-visuals/
real_data_scripts/backup-results/
real_data_scripts/backup/
real_data_scripts/results_backup/
real_data_scripts/verum-features-Vuld.json
Vuld_SySe/representation_learning/baseline_lr_balance/
Vuld_SySe/representation_learning/baseline_mlp_balance/
Vuld_SySe/representation_learning/baseline_mlp_same_balance/
Vuld_SySe/representation_learning/baseline_rf_balance/
Vuld_SySe/representation_learning/baseline_svm/
Vuld_SySe/representation_learning/baseline_svm_balance/
Vuld_SySe/representation_learning/results/
Vuld_SySe/representation_learning/results_imbalanced/
Vuld_SySe/representation_learning/results_layer_abl/
Vuld_SySe/representation_learning/results_test/
Vuld_SySe/representation_learning/tsnes/
Vuld_SySe/representation_learning_inproved/
.idea/
Attn_Vul_Det/
